[submodule "backend"]
	path = backend
	url = ./backend
	branch = main
[submodule "frontend"]
	path = frontend
	url = ./frontend
	branch = main
[submodule "ai-processor"]
	path = ai-processor
	url = ./ai-processor
	branch = main
